#heading{
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 2px;
}

.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    padding: 0px 20px;
    font-size: 24px;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-card {
    padding: 5px;
    width: 265px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 8px;
}

.search {
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 30px;
    width: 250px;
    height: 400px;
    background-color: grey;
}

.login{
    padding:0px 20px;
    cursor: pointer;
    color: blue;
}

.filter{
    display: flex;
}